html, body{
    margin: 0;
    padding: 0;
}
.container{
    width:800px;
    margin: 0 auto;
}
button{
    width:398px;
    height:60px;
}
.answers{
    text-align: center;
}
.question{
    text-align: center;
    font-size: 18pt;
}