body {
margin: auto;
background-color: #e6e6e6;
}


.container {


margin-left: auto;
margin-right: auto;
margin-top: 10px;
width: 864px;
background-color: #bfbfbf;
box-shadow: 5px 5px 5px #888888;
font-family: Arial, Helvetica, sans-serif;
}
p {
text-align: justify;
}
table{
text-align:center;
background-color:#e6e6e6;
margin-left:auto;
margin-right:auto;
padding:5px;
border-collapse:collapse;

}
caption{
font-weight:bold;
background-color:#a6a6a6;
padding-top:2px;
padding-bottom:2px;

}
th{
font-weight:normal;
background-color:#b3b3b3;
padding-top:2px;
padding-bottom:2px;
padding-left: 20px;
padding-right:20px;
}
main section {
width: 804px;
margin-left: auto;
margin-right: auto;
}
.teksty{
box-sizing: border-box;
padding: 10px 30px;
line-height: 0.7cm;
}
#kontakt{
float:left;
}
#notka{
font-size:12px;
margin-top:-20px;
padding:0px;
}
#obrazek_gora {
margin: 0;
padding: 0;
height: 302px;
}
#galeria_tlo{
margin-left: auto;
margin-right: auto;
box-shadow: 5px 5px 5px #888888;
height:750px;
width:750px;
}
#galeria_mala {
margin-top: 10px;
height:750px;
width:750px;
}
#googleMap {
width:500px;
height:380px;
margin-left: auto;
margin-right: auto;
}
#otoczenie_mapy{
padding: 30px 0px;
margin-top: 10px;

}
section a {
text-decoration: none;
color: #3366cc;
}
nav {
background-color: white;
}
nav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: white;
}
nav li {
float: left;
width: 144px;
background-color: white;
margin: 0;
}
#logo {
height: 84px;
padding: 0;
}
nav li a {
display: block;
margin: 0;
text-decoration: none;
color: #3366cc;
text-align: center;
padding: 32px 0;
}
nav>ul:hover{
background-color: white;
}
nav>ul>li:hover{
background-color:white;
}
nav li a:hover{
background-color:#cccccc;
}
.galleryTitles{
	text-align:center;
}
.galleryList {
	list-style-type:none;
}
footer {
margin-bottom: 20px;
}
#stopka{
background-color: #d9d9d9;
}
#links {
font-size: 14px;
box-sizing: border-box;
padding-left: 10px;
padding-right: 10px;
padding-top: 1px;
padding-bottom:1px;
margin-bottom: 20px;
margin-left:5px;
}
#made_by {
font-size: 8px;
text-align: right;
}
#links ul {
list-style-type: none;
}
#links li {
float: left;
padding-left: 5px;
padding-right: 5px;
}
#links li a{
text-decoration: none;
display: block;
color: #666666;
}
.jcarousel-wrapper {
    margin: 20px auto;
	width: 600px;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}




/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 600px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 300px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
