.w3-animate-left{position:relative;-webkit-animation:animateleft 1.5s;animation:animateleft 1.5s}

@-webkit-keyframes animateleft{from{left:-600px;opacity:0} to{left:0;opacity:1}}

@keyframes animateleft{from{left:-600px;opacity:0} to{left:0;opacity:1}}



.w3-animate-right{position:relative;-webkit-animation:animateright 1.5s;animation:animateright 1.5s}

@-webkit-keyframes animateright{from{right:-600px;opacity:0} to{right:0;opacity:1}}

@keyframes animateright{from{right:-600px;opacity:0} to{right:0;opacity:1}}



.w3-animate-top{position:relative;-webkit-animation:animatetop 1.5s;animation:animatetop 1.5s}

@-webkit-keyframes animatetop{from{top:-600px;opacity:0} to{top:0;opacity:1}}

@keyframes animatetop{from{top:-600px;opacity:0} to{top:0;opacity:1}}



.w3-animate-bottom{position:relative;-webkit-animation:animatebottom 1.5s;animation:animatebottom 1.5s}

@-webkit-keyframes animatebottom{from{bottom:-600px;opacity:0} to{bottom:0;opacity:1}}

@keyframes animatebottom{from{bottom:-600px;opacity:0} to{bottom:0;opacity:1}}