$width : 1000px;
$obramowanie: 2px solid black;
$obramowanie_literki: 1px solid black;
$ramka_literki_ok: 1px solid green;
$ramka_literki_nie_ok: 1px solid red;
$margines_literki: 2px;
$padding_literki: 2px;
$margines_objektow: 0 auto;
$padding_objektow: 20px;
$kolor_literki: #ffff66;
$kolor_literki_hover: darken(#ffff66, 25%);
$kolor_zgaduj: #f4ea1d;
$kolor_zgaduj_hover: darken(#f4ea1d, 25%);
$cien_literki: 2px 2px 3px #aaaaa4;
$cien_obiektow: 4px 4px 4px #aaaaa4;
$rozmiar_czcionki_literka: 20px;
@mixin literka($rozmiar, $czcionka, $promien, $kolor){
  width:$rozmiar;
  height:$rozmiar;
  border-radius: $promien;
  background-color:$kolor;
  border: $obramowanie_literki;
  margin: $margines_literki;
  padding: $padding_literki;
  box-shadow: $cien_literki;
  font-size: $rozmiar_czcionki_literka;
}
@mixin objekt ($szer, $wys, $kolor){
  width:$szer;
  height:$wys;
  background-color:$kolor;
  margin: $margines_objektow;
  padding: $padding_objektow;
  box-shadow:$cien_obiektow;
}
@mixin zgaduj ($rozmiar, $czcionka, $promien, $kolor){
  width:$rozmiar;
  height:$rozmiar/10;
  border-radius: $promien;
  background-color:$kolor;
  border: $obramowanie_literki;
  margin: $margines_literki;
  padding: $padding_literki;
  box-shadow: $cien_literki;
  font-size: $rozmiar_czcionki_literka;
}
@mixin naglowek ($rozmiar, $kolor){
  font-size: $rozmiar;
  color: $kolor;
}
:focus {
    outline: none;
}
.fortune {
    @include objekt(1000px, 600px, #e2e2dc);
}
.phrase {
    text-align: center;
    letter-spacing: 18pt;
}
.leftSide {
    color: red;
    float: left;
    width: $width*0.75;
}
.rightSide {
    color: blue;
    float: right;
    width: $width*0.25;
}
.clear {
    content: " ";
    clear: both;
}
.guessLetter {
    @include literka(40px, 20px, 5px, $kolor_literki);
    &:hover{
      background-color:$kolor_literki_hover;
    }
}
.redBorder {
    border: $ramka_literki_nie_ok;
}
.greenBorder {
    border: $ramka_literki_ok;
}
.win {
    color: green;
}
#guess{
  width:$width*0.25;
}
#guessBtn{
  @include zgaduj (100%, 20px, 5px, $kolor_zgaduj);
  &:hover{
    background-color:$kolor_zgaduj_hover;
  }
  text-align:center;
}
.letterBox {
  margin:$margines_objektow;
  text-align: center;
}
.title {
  @include naglowek(40px, $kolor_zgaduj_hover);
  text-align:center;
}
