:focus {
  outline: none;
}

.fortune {
  width: 1000px;
  height: 600px;
  background-color: #e2e2dc;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 4px 4px 4px #aaaaa4;
}

.phrase {
  text-align: center;
  letter-spacing: 18pt;
}

.leftSide {
  color: red;
  float: left;
  width: 750px;
}

.rightSide {
  color: blue;
  float: right;
  width: 250px;
}

.clear {
  content: " ";
  clear: both;
}

.guessLetter {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #ffff66;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  box-shadow: 2px 2px 3px #aaaaa4;
  font-size: 20px;
}
.guessLetter:hover {
  background-color: #e6e600;
}

.redBorder {
  border: 1px solid red;
}

.greenBorder {
  border: 1px solid green;
}

.win {
  color: green;
}

#guess {
  width: 250px;
}

#guessBtn {
  width: 100%;
  height: 10%;
  border-radius: 5px;
  background-color: #f4ea1d;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  box-shadow: 2px 2px 3px #aaaaa4;
  font-size: 20px;
  text-align: center;
}
#guessBtn:hover {
  background-color: #8b8507;
}

.letterBox {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 40px;
  color: #8b8507;
  text-align: center;
}
