.redTxt {
    color:red;
}
.blueTxt {
    color: blue;
}
.greenTxt {
    color: green;
}
.blueBorder {
    border-bottom: 1px solid blue;
}
.loginBox {
    padding: 15px;
    border: 1px dotted green;
}

.w3-animate-left{position:relative;-webkit-animation:animateleft 1.5s;animation:animateleft 1.5s}
@-webkit-keyframes animateleft{from{left:-600px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-600px;opacity:0} to{left:0;opacity:1}}

.w3-animate-right{position:relative;-webkit-animation:animateright 1.5s;animation:animateright 1.5s}
@-webkit-keyframes animateright{from{right:-600px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-600px;opacity:0} to{right:0;opacity:1}}

.w3-animate-left-right{position:relative;-webkit-animation:animateleft 1.5s;animation:animateleft 1.5s; animation-direction: reverse}
@-webkit-keyframes animateleft{from{left:-600px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-600px;opacity:0} to{left:0;opacity:1}}

