html, body{
    margin: 0;
    padding: 0;
}
#container{
    width: 1000px;
    border: 1px solid black;
    margin: 0 auto;
}
nav{
    margin: 0 auto;
    width: 900px;
}
main {
    margin-left: auto;
    width: 900px;
    margin-top:30px;
    margin-right: auto;
    
}

h1{
    text-align: center;
    
}
ul {
    
    list-style-type: none;
    padding:0;
    margin: 0;
    text-align: center;
}
ul>li{
    display: inline-block;
}
ul>li>a {
    text-decoration: none;
    color: black;
    background-color: lightgreen;
    
    padding: 5px 20px;
    font-size: 14pt;
}
ul>li>a:hover{
    background-color: green;
}
section{
    display: none;
}
.dBlock{
    display: block;
}
p{
    text-align: justify;
    line-height: 0.7cm;
}
label{
    display:inline-block;
    width: 100px;
}
input {
    width:177px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px lightblue;
}
input:focus{
    border-color: white;
}
input:hover {
    width:177px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px lightcoral;
}
textarea{
    border-radius: 7px;
    box-shadow: 2px 2px 2px lightblue;
}
textarea:hover{
    border-radius: 7px;
    box-shadow: 2px 2px 2px lightcoral;
}
button {
    margin-left: 170px;    
    border-radius: 7px;
    box-shadow: 2px 2px 2px lightblue;
}

button:hover {
    margin-left:170px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px lightcoral;
}
#contact{
    margin-top: 30px;
}
footer {
    margin: 0 auto;
    width: 900px;
    
    text-align: center;
}