*{
    margin: 0px;
    padding: 0px;
}
#bar{
    width:450px;
    height:60px;
    background-color: gold;
    margin-top:-30px;
    margin-left:120px;
    position: absolute;
}
#tytul{
    
    font-family: 'Francois One', sans-serif;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
#pierwsze{
    margin-top: 70px;
}
#blocks{
    width: 50%;
    height: 50%;
    float: left;
    margin-right: 20px;
    
}
#blocks2{
    width:95%;
    height:95%;
}
#drugie{
    padding-top: 40px;
    padding-left: 80px;
}
#bar2{
    width:650px;
    height:80px;
    background-color: black;
    margin-left:40px;
    margin-top:-70px;
    position: absolute;
}
#tytul2{
    color: white;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 15px;
}
h2{
    font-weight: bold;
    font-size: 18px;
}
#tekst{
    font-family: 'Lusitana';
    font-size: 12px;
    margin-top: 70px;
    padding-top: 60px;
    margin-right: 100px;
}
.size{
    width:900px;
    margin:auto;
}
#bar3{
    position: fixed;
    right: 230px;
    top: 200px;
    background-color: black;
}
.boczne{
    height:40px;
    width: 40px;
    padding: 10px;
    
    background-color: black;
}
#tekstdolny{
    border-right: 2px solid gray;
    font-size: 12px;
    width:520px;
    padding-right: 30px;
}
#bar4{
    width: 400px;
    height:80px;
}
#linda{
    width:11%;
    height: 11%;
    float: left;
    padding-right: 20px;
}
#dolnywlasciwy{
    padding-top:10px;
}
#nadole{
    padding-top:10px;
}
footer{
    padding-left:160px;
}
#tytul3{
    font-size: 20px;
    font-family: 'Francois One', sans-serif;
    padding-top: 50px;
    font-weight: bold;
    
}
#dolnyprawo{
    font-weight: bold;
    font-family: 'Francois One', sans-serif;
    float: right;
    margin-right:210px;
    margin-top: -90px;
}
#liczba{
    font-size: 60px;
}
#liczbatekst{
    font-size: 13px;
    padding-left: 10px;
}
.awesome{
    text-transform: uppercase;
}
ul {
    list-style-type: none;
}
ul li{
    display: inline;
    padding-left: 35px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right: 35px;
    margin-right: 15px;
    background-color: gold;
    font-size: 13px;
    font-weight: bold;
}
#menu {
    padding-top: 30px;
    padding-left: 0px;
    padding-bottom:60px;
}